services:
  app:
    image: asif449/cpl-website:9
    container_name: cloudproduction-app
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=3000
      - HOST=0.0.0.0
    expose:
      - "3000"
    networks:
      - webnet

  nginx:
    image: nginx:1.25-alpine
    container_name: cloudproduction-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/ssl:/etc/letsencrypt
      - ./nginx/www:/var/www/html:ro
    depends_on:
      - app
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
